body {
    background-color: rgb(36, 40, 42);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    display: inline;
    width: 40px;
    height: 40px
}

.center {
    text-align: center;
}

#title {
    color: white;
    padding: 0%;
    margin: 40px 0px 0px 0px;
}

#subtitle {
    color: rgb(132, 155, 171);
    padding: 0% 5% 55px 5%;
    margin: 0px;
}

#prompt-text {
    color: rgb(92, 115, 121);
    font-style: oblique;
}

#about {
    color: rgb(92, 115, 121);
}

#query-input {
    font-size: 20px;
    width: 300px;
}

#search-button {
    border-radius: 5%;
    font-size: 17px;
    margin: 0px;
    padding: 2px 5px 2px 5px;
}

#search-official {
    padding: 5px 5% 0px 5%;
}

#mdn-button {
    font-size: 12px;
    color: rgb(202, 225, 231);
}

#stackoverflow-button {
    font-size: 12px;
    color: rgb(192, 215, 221);
}

#footer-title {
    color: #cdb0d0;
}

#footer-description {
    color: rgb(162, 185, 191);
    font-size: 12px;
}

#bottom-description {
    color: rgb(112, 135, 141);
    font-size: 12px;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer-main {
    border-top: solid 2px black;
    background-color: #33373a;
    padding: 0.5% 4% 1% 4%;
}

#text-above-footer {
    padding: 0.3% 4%;
}